.about-us {
    padding: 40px 0px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    text-align: center ;
}
.row{
    display: flex;
    flex-wrap: wrap; 
}
.flex{
    padding: 0 20px;
    align-items: center;
    text-align: center;
}
.about-us h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.about-us h3{
    font-size: 22px;
    margin-bottom: 8px;
}
.about-us p{
    font-size: 18px;
    line-height: 1,5;
    margin-top: 20px;
    max-width: 70%;
    margin: 0 auto;
}